*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(251, 229, 207);
}

.world {
  overflow: hidden;
  position: relative;
  padding: 10px;
  /* margin: 50px; */
}

.score {
  position: absolute;
  font-size: 5vmin;
  right: 20vmin;
  top: 0vmin;
  font-weight: 700;
  color: rgb(224, 152, 79);
}
.highscore{
  position: absolute;
  font-size: 2vmin;
  right: 20vmin;
  top: 5vmin;
  font-weight: 700;
  color: rgb(224, 152, 79);
}

.start-screen {
  position: absolute;
  font-size: 2vmin;
  padding: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: rgb(230, 165, 100);
  text-align: center;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}